
<div class="navbar">
    <div class = 'icon'>
        <i class="healthicon"></i>
        <span class="text">HealthTracker</span>
    </div>
    <div class="nav_bar">
        <div class="tabs">
          <a [routerLink]="['healthtracker/home']" routerLinkActive="active" #rla1="routerLinkActive">
            About app
          </a>
          <a [routerLink]="['healthtracker/login']" routerLinkActive="active" #rla3="routerLinkActive">
            Login
          </a>
          <a [routerLink]="['healthtracker/create']" routerLinkActive="active" #rla4="routerLinkActive">
            Get Started
          </a>
        </div>
      </div>
</div>




  